﻿<%@ Page Title="EDMS - Nhiệt điện Mông Dương" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="SyncConfigPage.aspx.cs" Inherits="EDMs.Web.SyncConfigPage" EnableViewState="true" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <style type="text/css">
        /*Hide change page size control*/
        div.RadGrid .rgPager .rgAdvPart     
        {     
        display:none;        
        }

        a.tooltip
        {
            outline: none;
            text-decoration: none;
        }

        a.tooltip strong
        {
            line-height: 30px;
        }

        a.tooltip:hover
        {
            text-decoration: none;
        }

        a.tooltip span
        {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -30px;
            margin-left: 5px;
            width: 240px;
            line-height: 16px;
        }

        a.tooltip:hover span
        {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #DCA;
            background: #fffAF0;
        }

        .callout
        {
            z-index: 20;
            position: absolute;
            top: 30px;
            border: 0;
            left: -12px;
        }

        /*CSS3 extras*/
        a.tooltip span
        {
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-box-shadow: 5px 5px 8px #CCC;
            -webkit-box-shadow: 5px 5px 8px #CCC;
            box-shadow: 5px 5px 8px #CCC;
        }

        .rgMasterTable {
            table-layout: auto;
        }

        #ctl00_ContentPlaceHolder2_ctl00_ContentPlaceHolder2_grdDocumentPanel, #ctl00_ContentPlaceHolder2_ctl00_ContentPlaceHolder2_divContainerPanel
        {
            height: 100% !important;
        }

        #ctl00_ContentPlaceHolder2_RadPageView1, #ctl00_ContentPlaceHolder2_RadPageView2,
        #ctl00_ContentPlaceHolder2_RadPageView3, #ctl00_ContentPlaceHolder2_RadPageView4,
        #ctl00_ContentPlaceHolder2_RadPageView5
        {
            height: 100% !important;
        }

        #divContainerLeft
        {
            width: 25%;
            float: left;
            margin: 5px;
            height: 99%;
            border-right: 1px dotted green;
            padding-right: 5px;
        }

        #divContainerRight
        {
            width: 100%;
            float: right;
            margin-top: 5px;
            height: 99%;
        }

        .dotted
        {
            border: 1px dotted #000;
            border-style: none none dotted;
            color: #fff;
            background-color: #fff;
        }

        .exampleWrapper
        {
            width: 100%;
            height: 100%;
            /*background: transparent url(images/background.png) no-repeat top left;*/
            position: relative;
        }

        .tabStrip
        {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .multiPage
        {
            position: absolute;
            top: 30px;
            left: 0px;
            color: white;
            width: 100%;
            height: 100%;
        }

        /*Fix RadMenu and RadWindow z-index issue*/
        .radwindow
        {
            z-index: 8000 !important;
        }

        .TemplateMenu
        {
            z-index: 10;
        }

        .accordion dt a
        {
            letter-spacing: -0.03em;
            line-height: 1.2;
            margin: 0.5em auto 0.6em;
            padding: 0;
            text-align: left;
            text-decoration: none;
            display: block;
        }

        .accordion dt span {
            color: #085B8F;
            border-bottom: 1px solid #46A3D3;
            font-size: 1.0em;
            font-weight: bold;
            letter-spacing: -0.03em;
            line-height: 1.2;
            margin: 0.5em auto 0.6em;
            padding: 0;
            text-align: left;
            text-decoration: none;
            display: block;
        }
    </style>
    <telerik:RadPanelBar ID="radPbSearch" runat="server" Width="100%">
        <Items>
            <telerik:RadPanelItem Text="ADVANCE SEARCH" runat="server" Expanded="True" Width="100%" Visible="false">
                <Items>
                    <telerik:RadPanelItem runat="server" Text="Advance Search" ImageUrl="Images/search.gif" NavigateUrl="Search.aspx" />
                </Items>
            </telerik:RadPanelItem>
        </Items>
    </telerik:RadPanelBar>
    <telerik:RadPanelBar ID="radPbCategories" runat="server" OnClientItemClicking="radPbCategories_OnClientItemClicking" Width="100%"></telerik:RadPanelBar>
        
     <telerik:RadPanelBar ID="RadPanelBar1" runat="server" Width="100%">
        <Items>
            <telerik:RadPanelItem Text="TRANSMITTAL" runat="server" Expanded="True" Width="100%" Visible="false">
                <Items>
                    <telerik:RadPanelItem runat="server" Text="Transmittal" ImageUrl="Images/Transmittal.png" NavigateUrl="Transmittal.aspx"/>
                </Items>
            </telerik:RadPanelItem>
        </Items>
    </telerik:RadPanelBar>
    
    <telerik:RadPanelBar ID="radPbList" runat="server" Width="100%"/>
    <telerik:RadPanelBar ID="radPbSystem" runat="server" Width="100%"/>

    <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel2" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <telerik:RadSplitter ID="RadSplitter4" runat="server" Orientation="Horizontal" Width="100%">
        <telerik:RadPane ID="RadPane3" runat="server" Height="30px" Scrollable="false" Scrolling="None">
            <telerik:RadToolBar ID="CustomerMenu" runat="server" Width="100%" OnButtonClick="CustomerMenu_ButtonClick">
                <Items>
                    <telerik:RadToolBarButton runat="server" Text="Save" Value="Save" ImageUrl="~/Images/save.png"/>

                    <telerik:RadToolBarButton runat="server" IsSeparator="true"/>
                    
                </Items>
            </telerik:RadToolBar>

        </telerik:RadPane>
        <telerik:RadPane ID="RadPane2" runat="server" Scrollable="false" Scrolling="None">
            <div runat="server" id="divContent">
            <dl class="accordion">
                <dt style="width: 100%;">
                    <span>OFFSHORE DB SERVER INFO</span>
                </dt>
            </dl>
            <ul style="list-style-type: none">
                <li style="width: 700px;">
                    <div>
                        <label style="width: 150px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right; ">Instance Name
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:TextBox ID="txtServerName" runat="server" Style="width: 300px;" CssClass="min25Percent qlcbFormRequired"/>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>

                <li style="width: 700px;">
                    <div>
                        <label style="width: 150px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right; ">Username
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:TextBox ID="txtUserName" runat="server" Style="width: 300px;" CssClass="min25Percent qlcbFormRequired"/>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
                
                <li style="width: 700px;">
                    <div>
                        <label style="width: 150px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right; ">Password
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem">
                            <asp:TextBox ID="txtPass" runat="server" Style="width: 300px;" CssClass="min25Percent qlcbFormRequired"/>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
            </ul>
            
            <ul style="list-style-type: none">
                <li style="width: 500px; padding-top: 2px; padding-bottom: 3px; text-align: center">
                    <telerik:RadButton ID="btnCheckConnection" runat="server" Text="Check connection" OnClick="btnCheckConnection_OnClick" Width="130px" style="text-align: center">
                        <Icon PrimaryIconUrl="Images/ok.png" PrimaryIconLeft="4" PrimaryIconTop="4" PrimaryIconWidth="16" PrimaryIconHeight="16"></Icon>
                    </telerik:RadButton>
                    <asp:Label runat="server" ID="lblConnectionStatus" Visible="False"></asp:Label>

                </li>
            </ul>

            <dl class="accordion">
                <dt style="width: 100%;">
                    <span>REAL TIME CONFIG</span>
                </dt>
            </dl>
            
            <ul style="list-style-type: none">
                <li style="width: 700px;">
                    <div>
                        <label style="width: 150px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right; ">
                                <asp:RadioButton runat="server" Text="Real Time" ID="rbtnRealTime" GroupName="SyncConfig" OnCheckedChanged="rbtnRealTime_OnCheckedChanged" AutoPostBack="True"/>
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem" runat="server" id="divFileName">
                            <table>
                                <tr>
                                    <td>Every: </td>
                                    <td>
                                        <telerik:radnumerictextbox type="Number" id="txtRealTimeValue" runat="server" Style=" min-width: 0px !important; border-color: #8E8E8E #B8B8B8 #B8B8B8 #46A3D3;" Width="70px" CssClass="min25Percent">
                                            <NumberFormat AllowRounding="True" KeepNotRoundedValue="False" DecimalDigits="0" GroupSeparator="" PositivePattern="n"/>
                                            <EnabledStyle HorizontalAlign="Right" />
                                        </telerik:radnumerictextbox>
                                    </td>
                                    <td>
                                        <asp:DropDownList ID="ddlRealTimeType" runat="server" CssClass="min25Percent" Width="70px">
                                            <Items>
                                                <asp:ListItem Value="1" Text="Min"></asp:ListItem>
                                                <asp:ListItem Value="2" Text="Hour"></asp:ListItem>
                                            </Items>
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
            </ul>

            <dl class="accordion">
                <dt style="width: 100%;">
                    <span>SCHEDULE CONFIG</span>
                </dt>
            </dl>
            
            <ul style="list-style-type: none">
                <li style="width: 700px;">
                    <div>
                        <label style="width: 150px; float: left; padding-top: 5px; padding-right: 10px; text-align: right;">
                            <span style="color: #2E5689; text-align: right; ">
                                <asp:RadioButton runat="server" Text="Schedule" ID="rbtnSchedule" GroupName="SyncConfig" OnCheckedChanged="rbtnRealTime_OnCheckedChanged" AutoPostBack="True"/>
                            </span>
                        </label>
                        <div style="float: left; padding-top: 5px;" class="qlcbFormItem" runat="server" id="div1">
                            <table>
                                <tr>
                                    <td>Every day at: </td>
                                    <td>
                                        <asp:DropDownList ID="ddlEveryDayHour" runat="server" CssClass="min25Percent" Width="70px" OnSelectedIndexChanged="ddlEveryDayHour_OnSelectedIndexChanged" AutoPostBack="True">
                                            <Items>
                                                <asp:ListItem Value="0" Text=""></asp:ListItem>
                                                <asp:ListItem Value="1" Text="1h"></asp:ListItem>
                                                <asp:ListItem Value="2" Text="2h"></asp:ListItem>
                                                <asp:ListItem Value="3" Text="3h"></asp:ListItem>
                                                <asp:ListItem Value="4" Text="4h"></asp:ListItem>
                                                <asp:ListItem Value="5" Text="5h"></asp:ListItem>
                                                <asp:ListItem Value="6" Text="6h"></asp:ListItem>
                                                <asp:ListItem Value="7" Text="7h"></asp:ListItem>
                                                <asp:ListItem Value="8" Text="8h"></asp:ListItem>
                                                <asp:ListItem Value="9" Text="9h"></asp:ListItem>
                                                <asp:ListItem Value="10" Text="10h"></asp:ListItem>
                                                <asp:ListItem Value="11" Text="11h"></asp:ListItem>
                                                <asp:ListItem Value="12" Text="12h"></asp:ListItem>
                                                <asp:ListItem Value="13" Text="13h"></asp:ListItem>
                                                <asp:ListItem Value="14" Text="14h"></asp:ListItem>
                                                <asp:ListItem Value="15" Text="15h"></asp:ListItem>
                                                <asp:ListItem Value="16" Text="16h"></asp:ListItem>
                                                <asp:ListItem Value="17" Text="17h"></asp:ListItem>
                                                <asp:ListItem Value="18" Text="18h"></asp:ListItem>
                                                <asp:ListItem Value="19" Text="19h"></asp:ListItem>
                                                <asp:ListItem Value="20" Text="20h"></asp:ListItem>
                                                <asp:ListItem Value="21" Text="21h"></asp:ListItem>
                                                <asp:ListItem Value="22" Text="22h"></asp:ListItem>
                                                <asp:ListItem Value="23" Text="23h"></asp:ListItem>
                                                <asp:ListItem Value="24" Text="24h"></asp:ListItem>
                                            </Items>
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>Every week on: </td>
                                    <td>
                                        <asp:DropDownList ID="ddlEveryWeekDay" runat="server" CssClass="min25Percent" Width="100px" OnSelectedIndexChanged="ddlEveryWeekDay_OnSelectedIndexChanged" AutoPostBack="True">
                                            <Items>
                                                <asp:ListItem Value="0" Text=""></asp:ListItem>
                                                <asp:ListItem Value="1" Text="Monday"></asp:ListItem>
                                                <asp:ListItem Value="2" Text="Tuesday"></asp:ListItem>
                                                <asp:ListItem Value="3" Text="Wednesday"></asp:ListItem>
                                                <asp:ListItem Value="4" Text="Thursday"></asp:ListItem>
                                                <asp:ListItem Value="5" Text="Friday"></asp:ListItem>
                                                <asp:ListItem Value="6" Text="Saturday"></asp:ListItem>
                                                <asp:ListItem Value="7" Text="Sunday"></asp:ListItem>
                                            </Items>
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>Every month on: </td>
                                    <td width="200px">
                                        <asp:DropDownList ID="ddlEveryMonthDay" runat="server" CssClass="min25Percent" Width="70px" OnSelectedIndexChanged="ddlEveryMonthDay_OnSelectedIndexChanged" AutoPostBack="True">
                                            <Items>
                                                <asp:ListItem Value="0" Text=""></asp:ListItem>
                                                <asp:ListItem Value="1" Text="1"></asp:ListItem>
                                                <asp:ListItem Value="2" Text="2"></asp:ListItem>
                                                <asp:ListItem Value="3" Text="3"></asp:ListItem>
                                                <asp:ListItem Value="4" Text="4"></asp:ListItem>
                                                <asp:ListItem Value="5" Text="5"></asp:ListItem>
                                                <asp:ListItem Value="6" Text="6"></asp:ListItem>
                                                <asp:ListItem Value="7" Text="7"></asp:ListItem>
                                                <asp:ListItem Value="8" Text="8"></asp:ListItem>
                                                <asp:ListItem Value="9" Text="9"></asp:ListItem>
                                                <asp:ListItem Value="10" Text="10"></asp:ListItem>
                                                <asp:ListItem Value="11" Text="11"></asp:ListItem>
                                                <asp:ListItem Value="12" Text="12"></asp:ListItem>
                                                <asp:ListItem Value="13" Text="13"></asp:ListItem>
                                                <asp:ListItem Value="14" Text="14"></asp:ListItem>
                                                <asp:ListItem Value="15" Text="15"></asp:ListItem>
                                                <asp:ListItem Value="16" Text="16"></asp:ListItem>
                                                <asp:ListItem Value="17" Text="17"></asp:ListItem>
                                                <asp:ListItem Value="18" Text="18"></asp:ListItem>
                                                <asp:ListItem Value="19" Text="19"></asp:ListItem>
                                                <asp:ListItem Value="20" Text="20"></asp:ListItem>
                                                <asp:ListItem Value="21" Text="21"></asp:ListItem>
                                                <asp:ListItem Value="22" Text="22"></asp:ListItem>
                                                <asp:ListItem Value="23" Text="23"></asp:ListItem>
                                                <asp:ListItem Value="24" Text="24"></asp:ListItem>
                                                <asp:ListItem Value="25" Text="25"></asp:ListItem>
                                                <asp:ListItem Value="26" Text="26"></asp:ListItem>
                                                <asp:ListItem Value="27" Text="27"></asp:ListItem>
                                                <asp:ListItem Value="28" Text="28"></asp:ListItem>
                                                <asp:ListItem Value="29" Text="29"></asp:ListItem>
                                                <asp:ListItem Value="30" Text="30"></asp:ListItem>
                                            </Items>
                                        </asp:DropDownList> of month.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="clear: both; font-size: 0;"></div>
                </li>
            </ul>
        </div>
        </telerik:RadPane>
    </telerik:RadSplitter>

    <span style="display: none">
        

        <telerik:RadAjaxManager runat="Server" ID="ajaxCustomer" OnAjaxRequest="RadAjaxManager1_AjaxRequest">
            <AjaxSettings>
                <telerik:AjaxSetting AjaxControlID="ajaxCustomer">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="grdDocument" LoadingPanelID="RadAjaxLoadingPanel2"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                <telerik:AjaxSetting AjaxControlID="radPbGroup">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="treePemissionMenus"  LoadingPanelID="RadAjaxLoadingPanel2"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="CustomerMenu">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="divContent" LoadingPanelID="RadAjaxLoadingPanel2"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>

                <telerik:AjaxSetting AjaxControlID="btnCheckConnection">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="lblConnectionStatus"/>
                        <telerik:AjaxUpdatedControl ControlID="btnCheckConnection" LoadingPanelID="RadAjaxLoadingPanel2"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="rbtnSchedule">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="txtRealTimeValue"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryDayHour"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryWeekDay"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryMonthDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="rbtnRealTime">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="txtRealTimeValue"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryDayHour"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryWeekDay"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryMonthDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="txtRealTimeValue">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryDayHour"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryWeekDay"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryMonthDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="ddlEveryDayHour">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryWeekDay"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryMonthDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="ddlEveryWeekDay">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryDayHour"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryMonthDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
                
                <telerik:AjaxSetting AjaxControlID="ddlEveryMonthDay">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryDayHour"/>
                        <telerik:AjaxUpdatedControl ControlID="ddlEveryWeekDay"/>
                    </UpdatedControls>
                </telerik:AjaxSetting>
            </AjaxSettings>
        </telerik:RadAjaxManager>
    </span>

    <telerik:RadWindowManager ID="RadWindowManager1" runat="server" EnableShadow="true" >
        <Windows>
            <telerik:RadWindow ID="CustomerDialog" runat="server" Title="User Information"
                VisibleStatusbar="true" Height="350" Width="610" 
                Left="150px" ReloadOnShow="true" ShowContentDuringLoad="false" Modal="true">
            </telerik:RadWindow>
            <telerik:RadWindow ID="AttachDoc" runat="server" Title="Attach documents"
                VisibleStatusbar="false" Height="555" Width="1100" MinHeight="555" MinWidth="1100" MaxHeight="555" MaxWidth="1100" 
                Left="150px" ReloadOnShow="true" ShowContentDuringLoad="false" Modal="true">
            </telerik:RadWindow>
            
            <telerik:RadWindow ID="DocList" runat="server" Title="Transmittal - Document List"
                VisibleStatusbar="false" Height="418" Width="1100" MinHeight="418" MinWidth="1100" MaxHeight="418" MaxWidth="1100" 
                Left="150px" ReloadOnShow="true" ShowContentDuringLoad="false" Modal="true">
            </telerik:RadWindow>
        </Windows>
    </telerik:RadWindowManager>

    <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel1" />
    <asp:HiddenField runat="server" ID="FolderContextMenuAction"/>
    <asp:HiddenField runat="server" ID="lblFolderId"/>
    <asp:HiddenField runat="server" ID="lblDocId"/>
    <asp:HiddenField runat="server" ID="lblCategoryId"/>
    <input type="hidden" id="radGridClickedRowIndex" name="radGridClickedRowIndex"/>
    <telerik:RadCodeBlock ID="RadCodeBlock1" runat="server">
        <script src="Scripts/jquery-1.7.1.js"></script>
        <script type="text/javascript">
            
            function clientNodeChecked(sender, eventArgs) {
                var i;
                var node = eventArgs.get_node();
                var childNodes = node.get_allNodes();

                eventArgs.get_node().set_checkable(false);

                //To change the status of all child nodes when the parent checked/ unchecked
                if (childNodes.length > 0) {
                    for (i = 0; i < childNodes.length; i++) {
                        childNodes[i].set_checked(node.get_checked());
                    }
                }

                //To uncheck parent Nodes when any child Node has been unchecked
                if (!node.get_checked()) {
                    while (node.get_parent().set_checked != null) {
                        node.get_parent().set_checked(false);
                        node = node.get_parent();
                    }
                }

                //To check parent Nodes when all child nodes has been checked
                if (node.get_checked()) {
                    var parentNode = node.get_parent();
                    while (parentNode.set_checked != null) {
                        var allNodes = parentNode.get_nodes();
                        for (i = 0; i < allNodes.get_count() ; i++) {
                            if (!allNodes.getNode(i).get_checked()) {
                                eventArgs.get_node().set_checkable(true);
                                return;
                            }
                        }
                        parentNode.set_checked(true);
                        parentNode = parentNode.get_parent();
                    }
                }

                eventArgs.get_node().set_checkable(true);
            }

            var radDocuments;
            function Set_Cookie(name, value, expires, path, domain, secure) {
                // set time, it's in milliseconds
                var today = new Date();
                today.setTime(today.getTime());

                /*
                if the expires variable is set, make the correct 
                expires time, the current script below will set 
                it for x number of days, to make it for hours, 
                delete * 24, for minutes, delete * 60 * 24
                */
                if (expires) {
                    expires = expires * 1000 * 60 * 60 * 24;
                }
                var expires_date = new Date(today.getTime() + (expires));

                document.cookie = name + "=" + escape(value) +
                    ((expires) ? ";expires=" + expires_date.toGMTString() : "") +
                    ((path) ? ";path=" + path : "") +
                    ((domain) ? ";domain=" + domain : "") +
                    ((secure) ? ";secure" : "");
            }
        </script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var toolbar;
            var searchButton;
            var ajaxManager;

            function pageLoad() {
                $('iframe').load(function () { //The function below executes once the iframe has finished loading<---true dat, althoug Is coppypasta from I don't know where
                    //alert($('iframe').contents());
                });

                toolbar = $find("<%= CustomerMenu.ClientID %>");
                ajaxManager = $find("<%=ajaxCustomer.ClientID %>");

                searchButton = toolbar.findButtonByCommandName("doSearch");

                $telerik.$(".searchtextbox")
                    .bind("keypress", function (e) {
                        searchButton.set_imageUrl("images/search.gif");
                        searchButton.set_value("search");
                    });
            }

            function ShowUserEditForm(id, userId) {
                var owd = $find("<%=CustomerDialog.ClientID %>");
                owd.Show();
                owd.setUrl("Controls/System/UserEditForm.aspx?Id=" + id + "&userId=" + userId, "CustomerDialog");
            }
            
            function ShowInsertForm() {
                
                var owd = $find("<%=CustomerDialog.ClientID %>");
                owd.Show();
                owd.setUrl("Controls/Customers/CustomerEditForm.aspx", "CustomerDialog");

                //window.radopen("Controls/Customers/CustomerEditForm.aspx", "CustomerDialog");
                //return false;
            }
            
            

            function refreshGrid(arg) {
                //alert(arg);
                if (!arg) {
                    ajaxManager.ajaxRequest("Rebind");
                }
                else {
                    ajaxManager.ajaxRequest("RebindAndNavigate");
                }
            }
            
            function refreshTab(arg) {
                $('.EDMsRadPageView' + arg + ' iframe').attr('src', $('.EDMsRadPageView' + arg + ' iframe').attr('src'));
            }

            function radPbCategories_OnClientItemClicking(sender, args)
            {
                var item = args.get_item();
                var categoryId = item.get_value();
                document.getElementById("<%= lblCategoryId.ClientID %>").value = categoryId;
                
            }
            
            function performSearch(searchTextBox) {
                if (searchTextBox.get_value()) {
                    searchButton.set_imageUrl("images/clear.gif");
                    searchButton.set_value("clear");
                }

                ajaxManager.ajaxRequest(searchTextBox.get_value());
            }
            function onTabSelecting(sender, args) {
                if (args.get_tab().get_pageViewID()) {
                    args.get_tab().set_postBack(false);
                }
            }
            
        /* ]]> */
        </script>
    </telerik:RadCodeBlock>
</asp:Content>
