﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadHandler.aspx.cs" Inherits="EDMs.Web.UploadHandler" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:HiddenField ID="lblResult" runat="server" />
        </div>
    </form>
</body>
</html>
