﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewerFilePDF.aspx.cs" Inherits="EDMs.Web.ViewerFilePDF" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script type="text/javascript">

        //function CloseAndRefreshGrid() {
        //    var oWin = GetRadWindow();
        //    var parentWindow = oWin.BrowserWindow;
        //    $(oWin).ready(function () {
        //        oWin.close();
        //    });
        //    parentWindow.refreshGrid();
        //}

        //function GetRadWindow() {
        //    var oWindow = null;
        //    if (window.radWindow) oWindow = window.radWindow; //Will work in Moz in all cases, including classic dialog
        //    else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow; //IE (and Moz as well)

        //    return oWindow;
        //}
        //$('#PDFIframe').ready(function () {
        //    setTimeout(function () {
        //        $('#PDFIframe').contents().find('#download').remove();
        //        $('#PDFIframe').contents().find('#print').remove();
        //    }, 100);
        //});

        //$(window).load(function () {

        //    $('#PDFIframe').ready(function () {

        //        $('#PDFIframe').contents().find('#download').css("display", "none");
        //        $('#PDFIframe').contents().find('#print').css("display", "none");

        //    });
        //});

    </script>
    <style type="text/css">
        
      
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="content">
            <telerik:RadScriptManager runat="server" ID="RadScriptManager1" />

            <div runat="server" style="float: left; padding-left: 5px; padding-top: 5px; width: 99%;">
                <asp:Panel ID="Panel1" runat="server">
                    <%--<iframe id="PDFIframe" runat="server"  style= "width :100%; height:600px;" ></iframe>--%>

                    <telerik:RadAjaxLoadingPanel runat="server" ID="RadAjaxLoadingPanel1"></telerik:RadAjaxLoadingPanel>
                </asp:Panel>
            </div>
        </div>
    </form>
</body>
</html>
